@import 'base';
.list {
    max-height: 100%;
    overflow: auto
}
.list::-webkit-scrollbar {
    width: 1em;
}
.AutoSizerWrapper {
  flex: 1 1 auto;
}

.List {
  border: 1px solid #e0e0e0;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 25px;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
}

.checkboxLabel {
  display: flex;
  align-items: center;
}
.checkbox {
  margin-right: 5px;
} 

.root {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container {
  min-width: 300px;
  margin-bottom: 2rem;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.empty {
  @extend .flex-row-center;
}
