@import 'base';
.container {
  padding-right: 15%;
  padding-left: 10%;
  margin-right: auto;
  margin-left: auto;
}

.img {
    display:block;
    margin:auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
