.containerfluid {
    width: 80vh;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.fullwidth {
    position: absolute;
    width: 100%;
    left: 0;
}