@import 'base';
.container {
   // @extend .flex-column-center;
    //padding-top: 10em;
}
.info {
    filter: alpha(opacity=60);
    color: #ecb985 !important;

}

.card {
    background: rgba(0, 0, 0, 0.54) !important;
    top: 10px;
}


.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.HomePage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
		height: 850px;
    background-size: cover;
    //background-image: url('../../../../static/20151017_000009.jpg');
    // Free image available 
    background-image: url('https://visualhunt.com/photos/7/sparklers-manly-personable.jpg?s=l');
}
